Scripts/Prototype 1/0.png
Scripts/Prototype 1/plot1.png
Scripts/Prototype 1/plot2.png
Scripts/Prototype 1/plot2b.png
Scripts/Prototype 1/plot3.png
Scripts/Prototype 1/plot4.png
Scripts/Prototype 1/plot5.png
Scripts/Prototype 1/plot6.png
Scripts/Prototype 1/0.png

# exclude everything
Scripts/Prototype 2/Data/*
Scripts/SocialSim/Data/*
Literature Local/*
Analysis/*

# exception to the rule
!Scripts/Prototype 2/Data/.gitkeep 
!Scripts/SocialSim/Data/.gitkeep 

Saved Data/*
